body {
  margin: 0;
  padding: 0;
  background-image: url("../img/Landscape.jpg");
}

.row {
  width: 100%;

}

.kitten {
  height: 960px;
  display:flex;
  justify-content: center;
  align-items: center;
}

.col-12 {
  width: 100%;
}
